/*

html {
    font-family: 'Karla', sans-serif;
    font-size: 6rem;
}

body {
    height: 100vh;
}

div {
    display: flex;
    justify-content: center;
}

span {
    margin: 0;
    padding: 10px;
    width: 100px;
}

*/